.mon_animation div img {
  width: 400px;
  height: 300px;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mon_animation div:hover img {
  width: 300px; 
  height: 300px;
  border-radius: 10%;  
  -webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
}

article{
    background:#6082B6;
    border-radius: 50px;
    border: 4mm ridge rgba(100, 149, 230);
    padding:16px;
}

body{
    background:#7393B3; 
    background-size:cover;
    color:#FFF;
    font-family:sans-serif;
    font-size:16px;
    margin:auto;
    width:1300px;
}

div{
    text-align: center;
}

h1, h2{
    font-family:'Charm',cursive;
    text-align: center;
    text-decoration: underline;
}

h1{
    color: black;
    font-size:25px;
    text-align:center;
}

h3{
    color:white;
    text-decoration:none;
    text-align: right;
}

h3:hover{
    color:blue;
}

img, video{
    border: 25px solid;
    border-image: repeating-linear-gradient(#7393B3, #0818A8, #0818A8, #7393B3 10px) 40;
    padding: 15px;
}

nav{
    text-align:center;
}

nav li{
    display:inline-block;
    list-style:none;
    margin:10px;
}

nav a{
    color:black;
    font-variant:small-caps;
    font-size:18px;
}

p pre{
    color: grey;
    font-size:28px;
}

section h2{
    font-size:36px;
    margin-bottom:15px;
}
